body{
    font-family: 'Raleway', sans-serif;
    margin: 2%;
}
.hebergementmd{
width: 250px;
height: 150px;
border-radius: 25px 25px 0px 0px;
}
.etoile-bleu{
color: #0065FC;
}
.etoile-grise{
    color:#F2F2F2 !important;
}
.ligne{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.boite{
    padding: 5px;
    background-color: white;
    border-radius:25px;
}
.txtboite{
    margin: 3%;
}
.bgboite{
    background-color: #F2F2F2;
    border-radius:25px;
}
.bgboite:nth-child(2){
    background-color: purple;
    flex: 3;
}
.filtre{
    display: flex;
    align-items: center;
    border: solid #F2F2F2 3px;
    border-radius: 50px;
    width:fit-content;
    margin: 12px;
}
.icone{
    display: flex;
    align-items: center;
    background-color: #DEEBFF;
    padding: 12px;
    border-radius: 50px ;
    width: 15px;
    height: 15px;
    font-size: small;
    color: #0065FC;
}
.txtfiltre{
    margin: 0px 20px ;
    font-weight: bold;
}
.filtreligne{
    display: flex;
    align-items: center;
}
h1{
    font-weight: bolder;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}
.info{
    display: flex;
    align-items: center;
}
.icone-info{
    text-align: center;
    color: #0065FC;
    font-size: small;
    width: 10px;
    height: 10px;
    padding: 10px;
    border: solid #F2F2F2 2px;
    border-radius: 20px;
}
.txt-info{
    padding: 5px;
}
h2{
    font-size: 20px;
}