.act{
    display: flex;
    flex: auto;
    width: fit-content;
    height: fit-content;
}
#activité{
    margin-left: 1em;
}
.img-act{
    width: 100%;
    height: 330px;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
}
.img-act2{
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
}
.img-act3{
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
}
.img-act4{
    width: 100%;
    height: 127px;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
}
.boite-act{
    border-radius:25px;
    width: fit-content;
    height: fit-content;
    box-shadow: 2px 3px 15px #92929269;
    margin: 1em;
}
.txt-act{
    padding: 0.5em 1.5em;
    margin: 0;
}
.dispo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer{
    display: flex;
    background-color: #f2f2f2;
    margin-top: 5%;
    padding: 3em 4em;
}
.colonne{
    margin-right: 15%;
}
.colonne p {
    width: 15em;
}
@media only screen and (max-width: 480px){
    
    
}
@media screen and (max-width: 768px){
    .footer{
        display: block;
        font-size: small;
        padding: 1.5em;
    }
    .act img{
        height: 180px;
    }
    .act{
        display: block;
    }
    .act-tab{
        display: flex;
    }
    .colonne{
        padding: 2em 1em;
        margin: 0%;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px){

}