#activité{
    margin-left: 1em;
}
.act{
    display: flex;
    flex: auto;
    width: fit-content;
    height: fit-content;
}
.tab-act{
    display: flex;
    width: 50%;
}
.boite-act1 {
    border-radius:25px;
    width: 45%;
    height: fit-content;
    box-shadow: 2px 3px 15px #92929269;
    margin: 1em;
}
.boite-act2{
    border-radius:25px;
    width: fit-content;
    height: fit-content;
    box-shadow: 2px 0px 15px #92929269;
    margin: 1em 1em 1.5em 1em;
}
.boite-act3{
    border-radius:25px;
    width: fit-content;
    height: fit-content;
    box-shadow: 2px 0px 15px #92929269;
    margin: 1em 1em 0em 1em;
}
.boite-act4{
    border-radius:25px;
    width: fit-content;
    height: 180px;
    box-shadow: 2px 0px 15px #92929269;
    margin: 1em 1em 1em 1em; 
}
.boite-act5{
    border-radius:25px;
    width: fit-content;
    height: 180px;
    box-shadow: 2px 0px 15px #92929269;
    margin: 1em 1em 0em 1em;
}
.img-act{
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
}
.img-act2{
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
}
.img-act3{
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
}
.img-act4{
    width: 100%;
    height: 127px;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
}
.txt-act{
    font-weight: bold;
    font-size: 17px;
    padding: 4% 7%;
    margin: 0;
}
.txt-act-long{
    font-weight: bold;
    font-size: 17px;
    padding: 4% 7%;
    margin: 0;
}
.dispo{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0%;
    margin: 0%;
}
/*FOOTER*/
.footer{
    display: flex;
    background-color: #f2f2f2;
    font-size: 16px;
    margin-top: 5%;
    padding: 3em 2em;
}
.colonne, .colonne1{
    margin-right: 5%;
    padding: 5%;
}
.colonne p {
    width: 15em;
}
.colonne a, .colonne1 a{
    text-decoration: none;
    color: black;
}
.colonne h3, .colonne1 h3{
    font-size: 16px;
}
/*MEADIAQUERIES MOBILE-TABLETTE*/
@media screen and (max-width: 767px){
    .act{
        display: block;
    }
    .act img{
        width: 100%;
        height: 180px;
    }
    .tab-act{
        width: 100% !important;
        margin: 0 !important;
    }
    .footer{
        display: block;
    }
    .colonne, .colonne1{
        padding-left: 10% !important;
    }
}
/*MEADIAQUERIES LAPTOP*/
@media screen and (max-width: 1024px){
    .act img{
        height: 180px;
    }
    .tab-act{
        display: block;
        width: 50%;
    }
    .boite-act1{
        width: 95%;
    }
    .boite-act2, .boite-act3, .boite-act4, .boite-act5{
        width: 100%;
        margin: 1em;
        height: auto;
    }
    .txt-act-long{
        font-size: 17px !important;
    }
    .dispo{
        width: 95%;
    }
    .colonne, .colonne1{
        padding: 2em 1em;
        margin: 0%;
    }
}
@media screen and (max-width: 1390px){
    .txt-act-long{
    font-size: 12px;
    }
}
