.act{
    display: flex;
    flex: auto;
    width: fit-content;
    height: fit-content;
}
.tab-act{
    display: flex;
}
#activité{
    margin-left: 1em;
}
.img-act{
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
}
.img-act2{
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
}
.img-act3{
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
}
.img-act4{
    width: 100%;
    height: 127px;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
}
.boite-act1 {
    border-radius:25px;
    width: 45%;
    height: fit-content;
    box-shadow: 2px 3px 15px #92929269;
    margin: 1em;
}
.boite-act2{
    border-radius:25px;
    width: fit-content;
    height: fit-content;
    box-shadow: 2px 0px 15px #92929269;
    margin: 1em;
}
.txt-act{
    font-weight: bold;
    font-size: 17px;
    padding: 4% 7%;
    margin: 0;
}
.txt-act-long{
    font-weight: bold;
    font-size: 17px;
    padding: 4% 7%;
    margin: 0;
}
.dispo{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.footer{
    display: flex;
    background-color: #f2f2f2;
    font-size: 15px;
    margin-top: 5%;
    padding: 3em 4em;
}
.colonne{
    margin-right: 5%;
}
.colonne p {
    width: 15em;
}
.colonne a, .colonne1 a{
    text-decoration: none;
    color: black;
}
.colonne h3, .colonne1 h3{
    font-size: 15px;
}
@media screen and (max-width: 768px){
    .footer{
        display: block;
        padding: 1.5em;
    }
    .act img{
        height: 180px;
    }
    .act{
        display: block;
    }
    .tab-act{
        width: 100% !important;
        margin: 0 !important;
    }
}
@media screen and (max-width: 1024px){
    .tab-act{
        display: block;
        width: 50%;
    }
    .act img{
        height: 180px;
    }
    .dispo{
        width: 100%;
    }
    .boite-act1{
        width: fit-content;
    }
    .colonne, .colonne1{
        padding: 2em 1em;
        margin: 0%;
    }
    .txt-act-long{
        font-size: 17px !important;
    }
}
@media screen and (max-width: 1390px){
    .txt-act-long{
    font-size: 12px;
    }
}
@media screen and (min-width: 1600px){
    .footer{
        padding-left: 15%;
    }
    .colonne, .colonne1{
        justify-content: space-between;
    }
}