
    .entete{
        align-items: center;
        flex-flow: row wrap;
    }
    
    #inscription{
        color: #0065FC;
        font-weight: bolder;
        padding: 1em;
        margin: 0%;
    }
    .alignement{
        display: flex;
        flex-direction: row-reverse;
        padding: 1%;
    }
    /* navigation */
    ul{
        display: flex;
        list-style-type: none;
    }
    .navig{
        text-decoration: none;
        color: black;
        padding: 1em;
    }
    .navig:hover{
        border-top: solid #0065FC 3px;
        color: #0065FC;
        padding: 1em;
        padding-top: 1.8em;
    }
    /* Formulaire de recherche */
    .form{
        display: flex;
        align-items: center;
        border: #F2F2F2 solid 1px;
        border-radius: 10px  10px;
        width: 35%;
        min-width: 570px;
    }
    .form i{
        font-size: 20px;
    }
    input{
        border: hidden;
        padding-left: 1em;
        font-weight: bold;
        width: 80%;
        font-size: 20px;
        font-weight: bold;
    }
    button{
        background-color: #0065FC;
        color: white;
        border: hidden;
        padding: 1.2em;
        border-radius:  0px 10px 10px 0px;
        font-size: 15px;
    }
    .rechercheM{
        display: none;
    }
    .map-marker{
        background-color: #F2F2F2;
        padding: auto;
        padding: 1em ;
        border-radius:  10px 0px 0px 10px;
    }
    /*info*/
    .info{
        display: flex;
        align-items: center;
    }
    .icone-info{
        text-align: center;
        color: #0065FC;
        font-size: small;
        width: 10px;
        height: 10px;
        padding: 6px;
        border: solid #F2F2F2 2px;
        border-radius: 20px;
        margin-right: 1%;
    }
    .txt-info{
        padding: 5px;
    }
    /*Filtre*/
    .filtre{
        display: flex;
        align-items: center;
        border: solid #F2F2F2 3px;
        border-radius: 50px;
        width:fit-content;
        margin: 12px;
    }
    #titre-filtre{
        margin-right: 1em;
    }
    .icone{
        display: flex;
        align-items: center;
        background-color: #DEEBFF;
        padding: 12px;
        border-radius: 50px ;
        width: 15px;
        height: 15px;
        font-size: small;
        color: #0065FC;
    }
    .txtfiltre{
        margin: 0px 25px ;
        font-weight: bold;
    }
    .filtres{
        display: flex;
        align-items: center;
        
    }
    .filtre-ligne{
        display: flex;
        flex-wrap: wrap;
    }
    

@media screen and (max-width: 480px) {
    .entete{
        position: relative;
        display: block;
        margin: 0 -2em;
    }
    .form{
        width: 100% !important;
        min-width: 0% !important;
    }
    .rechercheM{
        display: block;
        color: white;
    }
    .rechercheL{
        display: none;
    }
    #inscription{
        position: absolute;
        right: 5px;
        top: 0.5em;
    }
    ul{
        padding: 0.7em;
        font-size: 20px;
        margin: 3em -1em 1em 0em;
    }
    nav{
        justify-content: center;
        padding: 0em;
        
    }
    .navig{
        border-bottom: solid #DEEBFF 3px;
        border-top: none;
        padding: 1em;
        padding-top: 1.8em;
    }
    .navig:hover{
        border-bottom: solid #0065FC 3px;
        border-top: none;
        color: #0065FC;
        padding: 1em;
        padding-top: 1.8em;
    }
}

@media screen and (max-width: 768px){
    .filtres{
        flex-wrap: wrap;
    }
    .form{
        width: 75%;
        min-width: 460px;
    }
}
@media screen and (max-width: 1024px){
    .filtres{
        display: block;
        flex-wrap: wrap;
    }
}