.ligne{
    display: flex;
    justify-content: space-around;
}
.boite{
    padding: 4px;
    background-color: white;
    border-radius:25px;
    box-shadow: 2px 3px 15px #92929269;
    margin: 20px 0px;
    width: 30%;
}
.img-hebergement{
    width: 100%;
    height: 8em;
    border-radius: 25px 25px 0px 0px;
    object-fit: cover;
}
.H2-hebergement{
    padding-left: 1.5em;
}
.strong{
    font-weight: bold;
}
.txtboite{
    margin: 3%;
}
.txtboite p{
    margin: 0;
    padding: 0.5em 0;
}
.bgboite{
    background-color: #F2F2F2;
    border-radius:25px;
    padding: 0.5em;
    margin: 0.5em;
}
.bgboite:nth-child(2){
    flex: 4;
}
@media screen and (max-width: 480px){
    .ligne{
        display: block !important;
    }
    .boite{
        width: 100% !important;
        margin: 20px 0 !important;
    }
    .boite-heberg{
        display: block !important;
    }
}
@media screen and (max-width: 768px){
    .bgboite{
        background-color: white;
    }
}
@media screen and (max-width: 1024px){
    .bgboite{
        display: block;
    }
    .boite-heberg{
        display: flex;
    }
   .ligne{
       display: flex;
       flex-direction: column;
       width: fit-content;
   }
   .boite{
       width: 80%;
       margin-left: 2em;
   }
   .H2-hebergement{
       padding-left: 0;
   }
}