.ligne{
    display: flex;
    justify-content: space-around;
}
.boite{
    padding: 4px;
    background-color: white;
    border-radius:25px;
    box-shadow: 2px 3px 15px #92929269;
    margin: 20px 0px;
    width: 30%;
}
.img-hebergement{
    width: 100%;
    height: 8em;
    border-radius: 25px 25px 0px 0px;
    object-fit: cover;
}
.H2-hebergement{
    padding-left: 0.5em;
}
.strong{
    font-weight: bold;
}
.txtboite{
    margin: 3%;
}
.txtboite h3{
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.txtboite p{
    margin: 0;
    padding: 0.5em 0;
}
.bgboite{
    background-color: #F2F2F2;
    border-radius:25px;
    padding: 2.5em;
    margin: 0.5em;
}
.bgboite:nth-child(2){
    flex: 4;
}
.lien-afficher{
    font-size: 18px;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}
@media screen and (max-width: 480px){
    .ligne{
        display: block !important;
        margin: 0px !important;
    }
    .boite{
        width: 90% !important;
        margin-left: 1em;
    }
    .boite-heberg{
        display: block !important;
    }
    .bgboite{
        padding: 5% !important;
    }
}
@media screen and (max-width: 768px){
    .bgboite{
        background-color: white;
        margin: 0;
        padding: 0% 3% 0% 2%;
    }
}
@media screen and (max-width: 1024px){
    .bgboite{
        display: block;
    }
    .boite-heberg{
        display: flex;
    }
    .H2-hebergement{
        font-size: 22px;
    }
   .ligne{
       display: flex;
       flex-direction: column;
       width: 100%;
   }
   .boite{
       width: 85%;
       margin: 1em;
   }
   .lien-afficher{
       padding-left: 0;
   }
}