.aside{
    /*justify-content: flex-end;*/
    background-color: #F2F2F2;
    border-radius:25px;
    padding: 1em;
    margin: 0.5em;
    width: fit-content;
}
.aside:nth-child(1){
    flex: 2;
}
.img-pop{
    width: 150px;
    height: 150px;
    padding: 0.5em;
    border-radius: 25px 0px 0px 25px;
    object-fit: cover;
}
.txticone{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.ensemble{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.boite-pop{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius:25px;
    box-shadow: 2px 3px 15px #92929269;
    margin: 2em 0.5em;
}
h3{
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.lf{
    display: flex;
    flex-direction: column;
}