body{
    font-family: 'Raleway', sans-serif;
    width: 100%;
    margin: 0%;
}
header, .ensemble, section{
    margin: 1em;
}
.ensemble{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.img-reservia{
    position: absolute;
    top: 15px;
    left: 3%;
}
.liens{
    text-decoration: none;
    color: black;
}
.filtre:hover {
    color: #0065FC;
    background-color:#DEEBFF;
}
.etoile-bleu{
    color: #0065FC;
}
.etoile-grise{
    color:#F2F2F2 !important;
}
h1{
    font-weight: bolder;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}
h2{
    font-size: 25px;
    font-weight: bolder;
}
h3{
    font-size: 20px;
    margin: 0;
    padding: 0;
}
@media only screen and (max-width: 480px){
    .ensemble{
        display: block;
    }
}
@media screen and (min-width: 481px) and (max-width: 991px){
    
}