body{
    font-family: 'Raleway', sans-serif;
    width: 100%;
    margin: 0%;
}
header, .ensemble, section{
    margin: 0em 1em;
}
.ensemble{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.img-reservia{
    position: absolute;
    top: 10px;
    left: 30px;
}
.liens{
    text-decoration: none;
    color: black;
}
.filtre:hover {
    color: #0065FC;
    background-color:#DEEBFF;
}
.etoile-bleu{
    color: #0065FC;
    font-size: 16px;
}
.etoile-grise{
    color:#F2F2F2 !important;
    font-size: 16px;
}
h1{
    font-weight: bolder;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}
h2{
    font-size: 25px;
    font-weight: bolder;
}
h3{
    font-size: 20px;
    margin: 0;
    padding: 0;
}
@media only screen and (max-width: 480px){
    h1{
        font-size: 22px !important;
    }
}
@media screen and (max-width: 768px){
    .ensemble{
        display: block;
    }
    h1{
        font-size: 25px;
    }
}
@media screen and (max-width: 1024px){

}
@media screen and (min-width: 1600px){
    header, .ensemble, section{
        margin: 0 15%;
    }
    .img-reservia{
        left: 15%;
    }
}